<div id="<%= dom_id column %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Column Title:</strong>
    <%= column.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Column Position:</strong>
    <%= column.position %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this column", column, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this column", edit_column_path(column), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
